<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nolan Brubaker">
    <title>
        $title
    </title>
</head>
<body>
    <div class="title">
        $title
    </div>
    <div class="date">
        $date
    </div>
    <div class="body">
        $body
    </div>
</body>
</html>
