<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Nolan Brubaker, Software Developer</title>
	<meta name="description" content="">
	<meta name="author" content="Nolan Brubaker">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/custom.css">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
		<div class="twelve columns">
			<h1 class="remove-bottom" style="margin-top: 40px">Nolan Brubaker</h1>
			<h5>Software Developer</h5>
			<hr />
		</div>
		<div class="sixteen columns">
			<h3>A little about me</h3>
            <p>I'm a software developer with 14 years of experience in the tech industry.</p>
            <p>I've worked in nearly every capacity, from help desk, sales, network administration, database design, software engineering, and computer science research.  During that time, I have written many software systems, including business intelligence report systems, network simulators, web applications for various tasks, and operations tooling.</p>
            <p>However, communicating the technical aspects of my work is incredibly important to me.  During my time in the industry, I've helped explain concepts from connecting to the Internet, deploying a network, or learning programming to all kinds of users, from high school students to CEOs.</p>
        </div>
        <div class="sixteen columns">
            <h3>People I've worked with</h3>
            <dl>
                <dt><a href="http://eldarion.com">Eldarion</a>, creators of fine Django sites.  </dt>
                <dd>They've also made <a href="http://gondo.io">Gondor</a>, a platform service for Django sites.</dd>
                <dt><a href="http://www.theredpost.com">Red Post</a>, a digital signage platform targetting local audiences</dt>
                <dt><a href="https://www.coxmediagroup.com/">Cox Media Group</a>, a local media company. I helped maintain and expand Google DoubleClick for Publishers integration with their internal, Django-based CMS.</dt>
                <dt><a href="https://www.rackspace.com/">Rackspace</a>, a cloud provider. I worked on the openstack-ansible and RPC-OpenStack projects, allowing for the creation and management of OpenStack private clouds.</dt>
            </dl>
        </div>
        <div>
            <h3>I'm interested in...</h3>
            <ul>
                <li>Python, Go, and Rust</li>
                <li>Practicing Japanese</li>
                <li>Linux</li>
                <li>Video and board games</li>
            </ul>
        </div>
		<div class="sixteen columns">
            <h3>You can get in touch by</h3>
            <ul id="contact">
                <li>Following me on <a href="http://twitter.com/#!/palendae">twitter</a></li>
                <li>Checking out my projects on <a href="http://github.com/nrb">github</a> or <a href="http://bitbucket.org/nrb">bitbucket</a></li>
                <li>Sending me an <a href="mailto:nolan@nbrubaker.com">email</a></li>
            </ul>
        </div>
		<div class="sixteen columns">
            And finally, you can check out my resume (<a href="resume.pdf">PDF</a> or <a href="resume.txt">plain text</a>) if you'd like.
        </div>

        <div class="sixteen columns" id="footer">

            &copy; Nolan Brubaker
        </div>
    </div><!-- container -->

<!-- End Document
================================================== -->
</body>
</html>
